<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.talent.animescrap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AnimeScrapApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeScrap"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimeScrap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AnimeScrap"
            tools:targetApi="n" />
        <activity
            android:name=".ui.activities.PlayerActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:taskAffinity=":pip"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.FullScreen"
            tools:targetApi="n" />
    </application>

</manifest>